/* csslint ignore:start */
.navbar-default .navbar .navbar-collapse nav ul.navbar-nav li div.menu {
  position: relative;
  display: block;
  padding: 10px 44px 10px 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  white-space: inherit;
  word-break: break-all;
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.navbar-default .navbar .navbar-collapse nav ul.navbar-nav li.open > div.menu.dropdown-toggle {
  color: #18c2e7;
  border-radius: 4px;
  background-color: rgba(24, 194, 231, 0.08);
}

.navbar-default .navbar .navbar-collapse nav ul.navbar-nav li .dropdown-menu li .dropdown-menu li div.menu {
  display: block;
  width: 100%;
  padding: 10px 44px 10px 30px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
}

.navbar-default .navbar .navbar-collapse nav ul.navbar-nav li .dropdown-menu li .dropdown-menu li div.menu.is-active {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-default .navbar .navbar-collapse nav ul.navbar-nav li div.menu .caret {
  position: absolute;
  top: 50%;
  right: 20px;
}

.navbar-default .navbar .navbar-collapse nav ul.navbar-nav li.open > div.menu.dropdown-toggle .caret {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navbar-default .navbar .navbar-collapse nav ul.navbar-nav li .dropdown-menu li div.menu.dropdown-submenu-toggle {
  display: block;
  width: 100%;
  padding: 10px 44px 10px 20px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
}

.dropdown-toggle::after {
  display: none !important;
}

.table thead tr th.th-style {
  text-align: left;
  color: rgba(255, 255, 255, 0.87);
}

.table thead tr th.th-style.with-link {
  text-decoration: none;
  color: #18c2e7;
}

table.table tbody tr td .remove-rule-button {
  position: relative;
  display: inline-block;
  height: 36px;
  padding: 0 13px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #292929;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #ff6565;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

table.table tbody tr td .remove-rule-button::before {
  margin-right: 5px;
  content: "\e014";
  vertical-align: top;
  color: #292929;
  font-family: "Glyphicons Halflings", sans-serif;
  font-weight: 400;
}

/* csslint ignore:end */
