.field--name-network-interfaces.field--label-inline .field__items {
  float: none;
}

.field--name-network-interfaces .field__items {
  display: inline-block;
}

.unused-volume {
  color: red;
}

.form-item.form-item-aws-cloud-volume-notification-title,
.form-item.form-item-aws-cloud-volume-notification-hour,
.form-item.form-item-aws-cloud-volume-notification-minutes,
.form-item.form-item-aws-cloud-instance-notification-title,
.form-item.form-item-aws-cloud-instance-notification-hour,
.form-item.form-item-aws-cloud-instance-notification-minutes {
  margin: 0.2em;
}

.user-data {
  word-break: break-all;
}

.user-data-base64 {
  font-weight: bold;
}
