/**
 * Contains TomSelect library css.
 */

.select-wrapper .ts-wrapper,
select#edit-name + .ts-wrapper {
  padding: 5px 30px 5px 5px !important;
}

.plugin-dropdown_input.focus.dropdown-active .ts-control {
  border: none;
}

.ts-wrapper .instance-info {
  display: flex;
  align-items: stretch;
}

.ts-wrapper .instance-info span {
  flex: 1;
}
