table.select2-results {
  background-color: white;
}

table.select2-results thead {
  display: block;
}

table.select2-results tbody {
  display: block;
  overflow-y: auto;
  height: 200px;
}

table.select2-results th,
table.select2-results td {
  width: 100px;
}

select[name=field_instance_type] {
  min-width: 500px;
}

.select2-selection__arrow {
  display: none;
}
