.aws_cloud_instance_type_prices td:not(:first-child) {
  padding-right: 20px;
  text-align: right;
}

.aws_cloud_instance_type_prices th {
  text-align: center;
}

.aws_cloud_instance_type_prices.table th,
.aws_cloud_instance_type_prices.table td {
  vertical-align: middle;
}

.aws_cloud_instance_type_prices.table .highlight {
  border-width: 2px;
  border-color: lightgray;
}
