{#
/**
 * @file cloud_project.html.twig
 * Default theme implementation to present cloud server template data.
 *
 * This template is used when viewing cloud launch template pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cloud_project()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cloud_project') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
