{#
/**
 * @file openstack_image.html.twig
 * Default theme implementation to present OpenStack image data.
 *
 * This template is used when viewing OpenStack image pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_openstack_image()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('openstack_image') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
