{#
/**
 * @file openstack_instance.html.twig
 * Default theme implementation to present OpenStack instance data.
 *
 * This template is used when viewing OpenStack instance pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_openstack_instance()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('openstack_instance') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
