{#
/**
 * @file openstack_security_group.html.twig
 * Default theme implementation to present OpenStack security group data.
 *
 * This template is used when viewing OpenStack security group pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_openstack_security_group()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('openstack_security_group') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
