{#
/**
 * @file openstack_volume.html.twig
 * Default theme implementation to present OpenStack volume data.
 *
 * This template is used when viewing OpenStack volume pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_openstack_volume()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('openstack_volume') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
