{#
/**
 * @file openstack_snapshot.html.twig
 * Default theme implementation to present OpenStack snapshot data.
 *
 * This template is used when viewing OpenStack snapshot pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_openstack_snapshot()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('openstack_snapshot') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
