<div class="col-2">
  <canvas class="usage-pie-chart"
          data-used=" {{ used }} "
          data-total= " {{total}} ">
  </canvas>
  <div class="usage-pie-chart-label">
    <div>{{ title }}</div>
    <div>{{ description_template|format(used, unit, total, unit)}}</div>
  </div>
</div>
